! special
*.foreground:   #ffffff
*.background:   #000009
*.cursorColor:  #ffffff

! black
*.color0:       #787dee
*.color8:       #3139ee

! red
*.color1:       #fe0000
*.color9:       #ad0000

! green
*.color2:       #0bff01
*.color10:      #07ab00

! yellow
*.color3:       #fd5f00
*.color11:      #7b2e00

! blue
*.color4:       #0095e4
*.color12:      #006499

! magenta
*.color5:       #77009e
*.color13:      #250031

! cyan
*.color6:       #00ffde
*.color14:      #009783

! white
*.color7:       #aeaa38
*.color15:      #ffffff
